<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="theoatar.cardgames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_icon_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="theoatar.cardgames.GoFishInstructions"
            android:parentActivityName="theoatar.cardgames.GoFishMaster">
        </activity>
        <activity
            android:name="theoatar.cardgames.GoFishSettings"
            android:parentActivityName="theoatar.cardgames.GoFishMaster">
        </activity>
        <activity
            android:name="theoatar.cardgames.GoFishMaster"
            android:parentActivityName="theoatar.cardgames.MainActivity">
        </activity>
        <activity
            android:name="theoatar.cardgames.Blackjack"
            android:parentActivityName="theoatar.cardgames.MainActivity">
        </activity>
        <activity
            android:name="theoatar.cardgames.GoFish"
            android:parentActivityName="theoatar.cardgames.GoFishMaster">
        </activity>
        <activity android:name="theoatar.cardgames.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="theoatar.cardgames.DifficultyPopUp"
            android:theme="@style/AppTheme.DifficultyPopupTheme">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>